<div class="box forget_password_container">
  <div class="forget_password_title">忘记密码</div>
  <div class="forget_password_content">
    <!--                    <a href="">手机号注册</a>-->
    <a href="/forget-password">点击找回</a>
  </div>
</div>

<style>


  .forget_password_container .forget_password_title {

    padding: 10px;
    font-size: 17px;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  }

  .forget_password_container .forget_password_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .forget_password_container .forget_password_content a {
    display: inline-block;
    text-align: left;
    width: 80px;
    padding: 10px;
  }
</style>
