<div class="box ad">
    <span>Sponsored by </span>
    <img
            src="https://cdn.v2ex.com/assets/sidebar/linkedin_20220910_a.png"
            alt=""
    />
    <a href="/" class="ad_title">
        2000 个不用坐班的远程好工作在召唤你
    </a>
    <p class="ad_description">
        弹性上班不打卡，工作和生活都能拥有 2000
        个不用坐班的全球远程工作，帮助 V2EX 的小伙伴开启全新的工作方式。
    </p>
    <p class="site">Promoted by <a href="/">LinkedIn</a></p>

</div>

<div class="sep20"></div>

<style>
  .right-bar .ad {
    /* border:1px  red solid; */
    padding: 10px;
  }
</style>
