<div class="box active_container">
  <div class="active_title">邮箱激活</div>
  <div class="active_content">
    <!--                    <a href="">手机号注册</a>-->
    <a href="/resend-active-email-page">已注册？重新发送邮件</a>
  </div>
</div>

<style>

  .active_container .active_title {

    padding: 10px;
    font-size: 17px;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  }

  .active_container .active_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .active_container .active_content a {
    display: inline-block;
    text-align: left;
    padding: 10px;
  }
</style>
