<div class="box other_register_container">
  <div class="other_register_title">其它注册方式</div>
  <div class="other_register_content">
    <!--                    <a href="">手机号注册</a>-->
    <a href="/register-page">邮箱注册</a>
  </div>
</div>

<style>


  .other_register_container .other_register_title {

    padding: 10px;
    font-size: 17px;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  }

  .other_register_container .other_register_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .other_register_container .other_register_content a {
    display: inline-block;
    text-align: left;
    width: 80px;
    padding: 10px;
  }
</style>
