<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{.Title}}</title>
  <meta name="keywords" content="{{.Keywords}}"/>
  <meta name="description" content="{{.Description}}"/>
</head>

<body>

{{include "header.html" .}}

<div class="sep20"></div>

<div class="container-wrapper">
  <div class="container">

      {{include .Template .}}

  </div>

</div>


<div class="sep20"></div>


{{include "footer.html" .}}
</body>

</html>




